<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="/stylesheets/eventDB.css"/>

    <!--Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!--Navigation bar -->
    <nav class="navbar navbar-dark navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Church Centre</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../users/account">View Account</a></li>
                        <li><a href="../child/childList">View Registered Children</a></li>
                        <li><a href="../child/registerchild">Register a child</a></li>
                    </ul>
                </li>
                <li><a href="../events/calendar">Calendar</a></li>
                <li><a href="../events/eventlist">My Schedule</a></li>
                {{#if isAdmin}}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../events/createevent">Add Event</a></li>
                            <li><a href="../users/adminregister">Add User</a></li>
                            <li><a href="../users/userList">Delete User</a></li>
                        </ul>
                    </li>
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top: 10px; padding-right: 15px;"><span style="text-transform: uppercase;">{{user}}</span></li>
            </ul>
        </div>
    </nav>

    <br><br><br>
    <h2>Profile</h2>
    <hr/>
    <div id="account">
        <article class="item">
            <h3> {{ this.firstname }} {{ this.lastname }} </h3>
            <div>Username: {{this.user}}</div>
            <div>Email Address: {{this.email}}</div>
            <div>Phone Number 1: {{this.ph1}}</div>
            <div>Phone Number 2: {{this.ph2}}</div>
            <br/>
            <hr/>
        </article>
    </div>
</body>