<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/eventDB.css" type="text/css"/>

    <!--Bootstrap JS - Used to make the Account drop down function-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--Navigation bar -->
    <nav class="navbar navbar-dark navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                 <div class="navbar-header">
                      <a class="navbar-brand" href="/">Church Centre</a>
                 </div>
                 <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="../users/account">View Account</a></li>
                           <li><a href="childList">View Registered Children</a></li>
                           <li><a href="registerchild">Register a child</a></li>
                        </ul>
                      </li>
                      <li><a href="../events/calendar">Calendar</a></li>
                      <li><a href="../events/eventlist">Schedule</a></li>
                 </ul>
                 <ul class="nav navbar-nav navbar-right">
                      <li style="padding-top: 10px; padding-right: 15px;"><span style="text-transform: uppercase;">{{user}}</span></li>
                 </ul>
            </div>
    </nav>

    <br><br><br>
    <h2>Registered Children</h2>
    <!--<a class="btn btn-primary" href="childList" >Refresh</a>-->
    <hr/>
    <div id="childList">
            {{# each childList }}
            <article class="item">
                <h3> {{ this.firstname }} {{ this.lastname }}  </h3>
                <!-- Link Disabled -->
                <a class="btn btn-primary-delete pull-right" href="/deletechild/{{this._id}}" role="button" style="margin-right: 20em; margin-top: -1em;">Delete</a>
                <div>Grade : {{ this.grade }}</div>
                <br/>
                <hr/>
            </article>
            {{/each}}
    </div>
</body>
