<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Database</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" >
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="inactive"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<h3>Get Data</h3>
<a href="/get-data">LOAD DATA</a>
<div>
    {{# each items }}
        <article class="item">
            <p><b>PARENT</b></p>
            <div>ID: {{ this._id }}</div>
            <div>UserName: {{ this.username }}</div>
            <div>FirstName: {{ this.firstname }}</div>
            <div>LastName: {{ this.lastname }}</div>
            <div>Address: {{ this.address }}</div>
            <div>Email: {{ this.email }}</div>
            <div>PhoneNumber: {{ this.phonenumber }}</div>
            <div>Age: {{ this.age }}</div>
            <div>Birthday: {{ this.birthday }}</div>
            <div>Role: {{ this.rolecode }}</div>
            <div>Address: {{ this.address }}</div>
            <br>
            <p><b>CHILD 1</b></p>
            <div>FirstName: {{ this.child.[0].firstname}}</div>
            <div>LastName: {{ this.child.[0].lastname}}</div>
            <div>Grade: {{ this.child.[0].grade}}</div>
            <div>Age: {{ this.child.[0].age}}</div>
            <div>Birthday: {{ this.child.[0].birthday}}</div>
            <div>Role: {{ this.child.[0].rolecode}}</div>
            <br>
            <p><b>CHILD 2</b></p>
            <div>FirstName: {{ this.child.[1].firstname}}</div>
            <div>LastName: {{ this.child.[1].lastname}}</div>
            <div>Grade: {{ this.child.[1].grade}}</div>
            <div>Age: {{ this.child.[1].age}}</div>
            <div>Birthday: {{ this.child.[1].birthday}}</div>
            <div>Role: {{ this.child.[1].rolecode}}</div>
        </article>
    {{/each}}
</div>
</body>
</html>