<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <link rel="stylesheet" href="/stylesheets/eventDB.css" type="text/css"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<!--Nav Bar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="inactive"><a href="/Users">Home</a></li>
        </ul>
    </div>
</nav>

<!--Month Year Scripts -->
<script>
    function monthfunction(month){
        window.location.href = "/users/eventlist?id="+ month;
    }
</script>

<h3>Get Data</h3>
<a href="eventlist">LOAD DATA</a>



<h1>Month passed: {{output}}</h1>

<div id ="month"></div>
<select name="monthSelect" id="monthSelect" onchange="monthfunction(this.value)">
    <option value="january">January</option>
    <option value="february">February</option>
    <option value="march">March</option>
    <option value="april">April</option>
    <option value="may">May</option>
    <option value="june">June</option>
    <option value="july">July</option>
    <option value="august">August</option>
    <option value="september">September</option>
    <option value="october">October</option>
    <option value="november">November</option>
    <option value="december">December</option>
</select>

<script>
    var x = document.getElementById("monthSelect");
    x.value = '{{month}}';
</script>

<div id="event">
    <select>
        {{# each eventlist }}
        <article class="item">
            <h1><b>Year : {{ this.date}}</b></h1>
            <div>Day : {{ this.title }}</div>
            <div>Information : {{ this.info }}</div>
            <div>Object ID : {{ this._id }}</div>
            <br><br>
        {{/each}}
    </select>

</div>
</body>
